body {
  margin: 0;

  font-family: 'Poppins', sans-serif !important;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Poppins', sans-serif !important;
}